*
!*/
!.gitignore
!README.md
!analysis/GLMsingle.ipynb
!analysis/testing/
!analysis/utils.py
!analysis/tseriesinterp.py
!analysis/tseriesinterp_new.py
!analysis/runs_config.py
!analysis/run_glmsingle.py
!analysis/nsdgeneral_to_epi.sh
!analysis/nsdgeneral_to_MNI.nii.gz
!analysis/mean_bold.ipynb
!analysis/bold_spectral.ipynb
!analysis/check_masks.py
!analysis/create_final_masks.py
